</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


<script src="../js/bootstrap.min.js"></script>
<script type="module" src="../js/login.js"></script>

<script src="../js/html2pdf.bundle.min.js"></script>


</body>

</html>