<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-school icon'></i>
      <div class="logo_name">Colegio</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">

      <li>
        <a href="/ventas/">
          <i class="bx bx-cart-alt"></i>
          <span class="links_name">Ventas</span>
        </a>
        <span class="tooltip">Ventas</span>
      </li>

      <li>
        <a href="/clientes/">
          <i class="bx bx-user"></i>
          <span class="links_name">Clientes</span>
        </a>
        <span class="tooltip">Clientes</span>
      </li>

      <li>
        <a href="/productos/">
          <i class='bx bx-package icon'></i>
          <span class="links_name">Productos</span>
        </a>
        <span class="tooltip">Productos</span>
      </li>

      <!-- <li>
        <a href="/ventas/">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Reportes</span>
        </a>
        <span class="tooltip">Reportes</span>
      </li> -->


      <li class="profile">
        <div class="profile-details">
          <img src="https://e1.pxfuel.com/desktop-wallpaper/422/481/desktop-wallpaper-barney-barnie.jpg" alt="profileImg" />
          <div class="name_job">
            <div class="name" id="nombresProfile">Prem Shahi</div>
            <div class="job" id="apellidosProfile">Web designer</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>

    </ul>
  </div>
  <section class="home-section">
